.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.done{
  position: absolute;
  right: 0;
  top: 70px;
}
.usert{
  height: 511px;
}
.Mlink{
  height: 535px;
}
.landing{
  height: 540px;
}
.template{
  height: 561px;
}
.template-mobile{
  box-shadow: 5px 9px 16px -8px rgba(0,0,0,0.75);
  -webkit-box-shadow: 5px 9px 16px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 9px 16px -8px rgba(0,0,0,0.75);
}
.phone{
  position: absolute !important;
}
.input-image{
  width: 70px;
  height: 70px;
}
.input-imagee{
  width: 82px;
  /* background-color: black */
}
.slogan{
  font-size: 72px;
}
.pc{
  margin-left: 35px
}
.image-link{
  width: 50px;
  height: 50px;
}
.feedback{
  width: 30px;
}
.caro{
  box-shadow: 4px 4px 9px 0px rgba(0,0,0,0.57);
  -webkit-box-shadow: 4px 4px 9px 0px rgba(0,0,0,0.57);
  -moz-box-shadow: 4px 4px 9px 0px rgba(0,0,0,0.57);
}
.cursor{
  cursor: pointer;
}
.logout{
  margin-top: 190px
}
.btnpub{
  width: 93%
}
.scroll{
  overflow-y: scroll;
  height: 260px;
  z-index: 0;
  overflow-x: hidden
}